PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/pj
JWT_SECRET=supersecretkey
FRONTEND_URL=https://hms-ui-4laj.onrender.com
DEFAULT_ADMIN_EMAIL=admin@gmail.com
DEFAULT_ADMIN_PASSWORD=123456
DEFAULT_ADMIN_NAME=Admin
